<!DOCTYPE html>
<html>
<head>
	<title>Admin Login</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Admin</h1>

		<body bgcolor="lightgrey">

			<form action="/adminlogin" autocomplete="on" method = "POST" enctype="multipart/form-data">

		  		Email:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="admin_email" ><br><br>

		  		Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="admin_password"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Log In</button>

			</form>

		</body>

	</font>
</center>
</html>

